<div id = "welcome_logo">
	<%= image_tag("wellogo.png") %>	
	<span class = "slogen">
		Have a nice wish together : )
	</span>
</div>

<% if current_user %>
	<div class="user_name"> 
    <%= link_to current_user.name, user_path(current_user) %>
    <span><%= link_to "Sign out", logout_path, id: "log_out" %></span> 
  </div>
<% else %>

	<div id ="login_fb">
	    <%= link_to "Login", "/auth/facebook", id: "log_in" %>
	    <%= image_tag("fb.png") %>
	</div>

<% end %>

<div id = "join_slogen">
	<%= image_tag("slogen2.png") %>
</div>

<div id="join_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>做張大卡片吧！</h3>
  </div>  

  <div class="modal-body custom-height-modal-video">
  	<h5>Wish+</h5>
  	<p><em>Facebook註冊:  </em>看看近期有誰生日!</p>
  	<p>想知道你和壽星被共同tag在哪些相片嗎?</p>
  	<p>還可以錄一段影片像壽星線上最真誠的祝福!</p>
		<div id ="login_fb">
		    <%= link_to "Login", "/auth/facebook", id: "log_in" %>
		</div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
  </div>
</div>


<a href="#join_modal" data-toggle="modal">
	<div id ="join_logo">
	</div>
</a>

<div id="sbi_container" class="sbi_container">
	<div class="sbi_panel" data-bg="assets/s2.png">
		<a href="#" class="sbi_label">Step 1</a>
			<div class="sbi_content">						  
						</div>
					</div>
					<div class="sbi_panel" data-bg="assets/s3.png">
						<a href="#" class="sbi_label">Step 2</a>
						<div class="sbi_content">
							
						</div>
					</div>
					<div class="sbi_panel" data-bg="assets/s4.png">
						<a class="sbi_label">Step 3</a>
						<div class="sbi_content">
							
						</div>
					</div>
</div>

		<div id = "arrow">			
          <%= image_tag("click.png") %>
		</div>
				<script type="text/javascript">
			$(function() {
				$('#sbi_container').bgImageMenu({
					defaultBg	: 'assets/s1.png',

					type		: {
						mode		: 'seqFade',
						speed		: 250,
						easing		: 'jswing',
						seqfactor	: 100
					}
				});
			});

// 		var $label = $('.sbi_label');
// $label.hover(
// function(){
// 	$('#arrow').css('display','block');
// 	console.log("12")
// 	},
// function(){
// 	$('#arrow').css('display', 'none');
// 	});	
		</script>
