<div id = "welcome_logo">
	<%= image_tag("wellogo.png") %>	
	<span class = "slogen">
		Have a nice wish together : )
	</span>
</div>

<% if current_user %>
	<div class="user_name"> 
    <%= link_to current_user.name, user_path(current_user) %>
    <span><%= link_to "Sign out", logout_path, id: "log_out" %></span> 
  </div>
<% else %>
<div id ="login_fb">
    <%= link_to "Login", "/auth/facebook", id: "log_in" %>
    <%= image_tag("fb.png") %>
</div>
<% end %>
<div id = "join_slogen">
	<%= image_tag("slogen2.png") %>
	</div>
<div id ="join_logo">
	
</div>
<div id="sbi_container" class="sbi_container">
	<div class="sbi_panel" data-bg="assets/s2.png">
		<a href="#" class="sbi_label">Step 1</a>
			<div class="sbi_content">						  
						</div>
					</div>
					<div class="sbi_panel" data-bg="assets/3.jpg">
						<a href="#" class="sbi_label">Step 2</a>
						<div class="sbi_content">
							
						</div>
					</div>
					<div class="sbi_panel" data-bg="assets/s4.png">
						<a class="sbi_label">Step 3</a>
						<div class="sbi_content">
							
						</div>
					</div>
</div>

		<div id = "arrow">			
          <%= image_tag("click.png") %>
		</div>
				<script type="text/javascript">
			$(function() {
				$('#sbi_container').bgImageMenu({
					defaultBg	: 'assets/s1.png',

					type		: {
						mode		: 'seqFade',
						speed		: 250,
						easing		: 'jswing',
						seqfactor	: 100
					}
				});
			});

// 		var $label = $('.sbi_label');
// $label.hover(
// function(){
// 	$('#arrow').css('display','block');
// 	console.log("12")
// 	},
// function(){
// 	$('#arrow').css('display', 'none');
// 	});	
		</script>
<!--
	<section id="jms-slideshow" class="jms-slideshow">
				<div class="step" data-color="color-1">
					<div class="jms-content">
					<h3>不想用Facebook留下千篇一律的生日祝福嗎?</h3>
					</div>
					<%= image_tag("senario1.jpg") %>
				</div>
				<div class="step" data-color="color-2" data-y="900" data-rotate-x="80">
					<div class="jms-content">
					<h3>邀請壽星好友，<br>用影音照片文字，<br>讓生日祝福不再單調!</h3>
					</div>
					<%= image_tag("senario2.jpg") %>
				</div>
				<div class="step" data-color="color-3" data-x="-100" data-z="1500" data-rotate="170">
					<div class="jms-content">
					<h3>關鍵時刻絕不錯過!</h3>
					</div>
					<%= image_tag("senario3.jpg") %>
				</div>
				<div class="step" data-color="color-4" data-x="3000">
					<div class="jms-content">
					<h3>Surprise!!!</h3>
					<h3>一起來寫張大卡片吧:)</h3>
						<a class="jms-link" href="#">馬上登入試試!</a>
					</div>
					<%= image_tag("senario4.jpg") %>
				</div>				
			</section>
			<script type="text/javascript">
			$(function() {
				
				var jmpressOpts	= {
					animation		: { transitionDuration : '1.0s' }
				};
				
				$( '#jms-slideshow' ).jmslideshow( $.extend( true, { jmpressOpts : jmpressOpts }, {
					autoplay	: true,
					bgColorSpeed: '1.0s',
					arrows		: false
				}));
				
			});
		</script>
		-->
<!--

<h1>MainPages#welcome</h1>
<p>Find me in app/views/main_pages/welcome.html.erb</p>

-->